@use 'variables.scss';
@use 'mixins.scss';

body {
    background-color: variables.$bg-color;
    color: variables.$text-color;
    font-family: variables.$body-font-fam;
    font-weight: variables.$body-font-weight;
    font-style: variables.$body-font-style;
    margin: 0;

    #root {
        padding: 0;
    }

    h1, h2, h3 {
        font-family: variables.$head-font-fam;
        font-weight: variables.$head-font-weight;
        font-style: variables.$head-font-style;
    }
    h1, h2 {
        margin: 1rem;
    }

    .back-to-top-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: .5rem;
        font-size: .65rem;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        @include mixins.buttons;

        @media (min-width: variables.$laptop-breakpoint) {
            font-size: 1.5rem;
        }

        &.visible {
            opacity: 1;
            visibility: visible;
        }

        &:hover, &:focus {
            @include mixins.button-hover-orange;
        }
    }
}