@use 'variables.scss';

body {
    background-color: variables.$bg-color;
    color: variables.$text-color;
    margin: 0 auto;
    width: 100%;
    font-family: variables.$body-font-fam;
    font-weight: variables.$body-font-weight;
    font-style: variables.$body-font-style;

    #root {
        padding: 0;
    }

    h1, h2, h3 {
        font-family: variables.$head-font-fam;
        font-weight: variables.$head-font-weight;
        font-style: variables.$head-font-style;
    }

    .back-to-top-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: .5rem;
        border: 2px solid variables.$text-color;
        border-radius: 10px;
        background-color: variables.$bg-color;
        color: variables.$text-color;
        font-size: .65rem;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        @media (min-width: variables.$laptop-breakpoint) {
            font-size: 1.5rem;
        }

        &.visible {
            opacity: 1;
            visibility: visible;
        }

        &:hover, &:focus {
            border: 2px solid transparent;
            background-color: variables.$accent-color;
            color: variables.$bg-color;
            cursor: pointer;
        }
    }
}