@use 'variables.scss';

header {
    width: 100dvw;
    height: 10dvh;
    display: flex;
    justify-content: space-evenly;
    background-color: variables.$bg-color;

    .hamburger-wrapper {
        width: 3rem;
        height: 3rem;
        position: relative;
        z-index: 999;

        .nav-links {
            list-style: none;
            display: none;
    
            li {
                padding-right: 10px;
                // z-index: 9;
    
                a {
                    text-decoration: none;
                    color: variables.$text-color;
                }
            }
        }
        
        .bm-burger-bars {
            background: variables.$text-color; 
            border-radius: 15px;
        }

        .bm-menu-wrap, .bm-overlay {
            position: relative;
            top: 10%;
        }

        .bm-overlay {
            left: 20%;
            background: rgba(0, 0, 0, 1) !important;
        }
    
    }
    
}