@use 'variables.scss';
@use 'mixins.scss';

.background-container {
    text-align: center;
    padding: 2rem;

    .button-container {
        display: flex;
        justify-content: center;

        @media (min-width: variables.$tablet-breakpoint) {
            justify-content: space-evenly
        }

        button {
            @include mixins.buttons;

            &:hover, &:focus {
                @include mixins.button-hover-light;
            }
        }
    }
    
    .grid-container {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-evenly;

        h3 {
            font-size: .75rem;

            @media (min-width: variables.$laptop-breakpoint) {
                font-size: 0.9rem;
            }

            @media (min-width: variables.$large-screen-breakpoint) {
                font-size: 1.5rem;
            }
    
        }

        .movie-item {
            border-top: 1px solid variables.$text-color;
            margin-top: 2rem;

            
        }

        .movie-list-img {
            width: 200px;
            height: auto;
            border-radius: 10px;
            box-shadow: variables.$box-shadow;
        }
    }

    button {
        padding: .5rem;
        font-size: .65rem;
        @include mixins.buttons;
        
        @media (min-width: variables.$laptop-breakpoint) {
            font-size: 1rem;
        }

        &:hover, &:focus {
            @include mixins.button-hover-orange;
        }
    }

    .favorite-button {

        svg {
            fill: white;
            width: 1.5rem;
        }
    }
}