@use 'variables.scss';

.background-container {
    text-align: center;
    padding: 2rem;

    .button-container {
        display: flex;
        justify-content: center;

        @media (min-width: variables.$tablet-breakpoint) {
            justify-content: space-evenly
        }

        button {
            border: 2px solid variables.$text-color;
            border-radius: 10px;
            background-color: variables.$bg-color;
            color: variables.$text-color;

            &:hover, &:focus {
                border: 2px solid transparent;
                background-color: variables.$text-color;
                color: variables.$bg-color;
            }
        }
    }
    
    .grid-container {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-evenly;

        h3 {
            font-size: .75rem;

            @media (min-width: variables.$laptop-breakpoint) {
                font-size: 0.9rem;
            }

            @media (min-width: variables.$large-screen-breakpoint) {
                font-size: 1.5rem;
            }
    
        }

        .movie-item {
            border-top: 1px solid variables.$text-color;
            margin-top: 2rem;

            
        }

        .movie-list-img {
            width: 200px;
            height: auto;
            border-radius: 10px;
            box-shadow: variables.$box-shadow;
        }
    }

    button {
        padding: .5rem;
        border: 2px solid variables.$text-color;
        border-radius: 10px;
        background-color: variables.$bg-color;
        color: variables.$text-color;
        font-size: .65rem;

        @media (min-width: variables.$laptop-breakpoint) {
            font-size: 1rem;
        }

        &:hover, &:focus {
            border: 2px solid transparent;
            background-color: variables.$accent-color;
            color: variables.$bg-color;
            cursor: pointer;
        }
    }

    .favorite-button {

        svg {
            fill: white;
            width: 1.5rem;
        }
    }
}