@use 'variables.scss';
@use 'mixins.scss';

.swiper {
    display: block;
    width: 80dvw;
    margin: auto;
    position: relative;
    overflow-x: hidden;
    margin-top: 1rem;
    font-size: .75rem;
    box-shadow: variables.$box-shadow;

    @media (min-width: variables.$laptop-breakpoint) {
        font-size: 1rem;
    }

    @media (min-width: variables.$large-screen-breakpoint) {
        font-size: 1.5rem;
    }

    .swiper-item {
        position: relative;
        z-index: 1;

        .title-overlay {
            position: absolute;
            bottom: 0px;
            left: 0px;
            z-index: 10000;
            pointer-events: auto;
            background-color: rgba(variables.$bg-color, 0.7);
            padding: 1rem;

            .truncatedOverview {
                display: none;

                @media (min-width: variables.$tablet-breakpoint) {
                    display: block;
                }
            }
        }
    }

    img {
        width: 80dvw;
        border-radius: 10px;
    }

    button {
        padding: .5rem;
        position: relative;
        z-index: 9999;
        @include mixins.buttons;


        &:hover, &:focus {
            @include mixins.button-hover-light;
        }
    }
}