// colors
$bg-color: #040404;
$text-color: #D7D9CE;
$link-color: #D7D9CE;
$link-hover: #0C7489;

// fonts

// media breakpoints
$tablet-breakpoint: 500px;
// $laptop-breakpoint: ;
// $desktop-breakpoint: ;
// $large-screen-breakpoint: ;