// colors
$bg-color: #111111;
$text-color: #e7e7e7;
$link-color: #D7D9CE;
$link-active: #0C7489;
$link-size: 1.5rem;
$accent-color: rgb(255, 195, 43);

// fonts
// body
$body-font-fam: "Roboto", sans-serif;
$body-font-weight: 400;
$body-font-style: normal;
// headings
$head-font-fam: "Orbitron", sans-serif;
$head-font-weight: 500;
$head-font-style: normal;
// logo font
$logo-font-fam: "Tourney", sans-serif;
$logo-font-weight: 400;
$logo-font-style: normal;
$logo-neon: 0 0 7px #fff,
0 0 10px #fff,
0 0 21px #fff,
0 0 42px #0fa,
0 0 82px #0fa,
0 0 92px #0fa,
0 0 102px #0fa,
0 0 151px #0fa;

// img box-shadow
$box-shadow: 10px 10px 10px -10px rgba(255,255,255,0.74);

// media breakpoints
$tablet-breakpoint: 500px;
$laptop-breakpoint: 900px;
$desktop-breakpoint: 1200px;
$large-screen-breakpoint: 1900px;