// sass elements
@use 'modules/body.scss';
@use 'modules/footer.scss';
@use 'modules/header.scss';
@use 'modules/slider.scss';
@use 'modules/movieList.scss';
@use 'modules/singlePage.scss';
@use 'modules/favorites.scss';
@use 'modules/about.scss';
@use 'modules/searchPage.scss';
@use 'modules/recommended.scss';

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
